[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/vim-autoformat"]
	path = .vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule ".vim/bundle/autopep8"]
	path = .vim/bundle/autopep8
	url = https://github.com/hhatto/autopep8.git
